//MODIFICACION A BOOSTRAP
footer {
    background-color: #000000;
        .footer__tittle--mod {
            font-size: $letras-fuentechica;
            color: $letras-colorclaro;
        }
        .footer__redes {
            width: 4rem;
        }
}