//GLOBALES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

//HTML
html {
    font-size: 62.5%;
} 

//BODY
body {
    background-color: $fondo-body;
}

//EXTEND
.clase-compartida {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}