//GLOBALES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

//HTML
html {
    font-size: 62.5%;
} 

//BODY
body {
    background-color: $fondo-body;
}

//EXTEND
.clase-compartida {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

//EVENTOS ESPECIALES 
body {
    @if $evento == mundial {
        background-color: #13a1d0;
    } @else if $evento == winterbreak {
        background-color: #1307ff;
    } @else if $evento == newyear {
        background-color: #ffff00;
    } @else if $evento == anniversary {
        background-color: #adff2f;
    } @else {
        background-color: $fondo-body;
    }

}