//VIDEO
.video-container {
    width: 98.5vw;
    overflow: hidden;
    
        video {
            width: 98.5vw;
            opacity: 85%; 
            overflow: hidden;
        }
}

//CAROUSEL
.courusel__img--size {
    width: 100%;
    max-height: 70rem;
    max-width: 52.5rem;
}

.corousel__img { 
    display: block;
    margin: 0 auto;
}

.carousel__title {
    @include bold-claro-sizeVAR(5rem);
}

.carousel__text {
    @include bold-claro-sizeVAR(3rem);
}


.container__text {
    font-size: $letras-fuentemediana;
    text-align: center;
    margin: 10rem 4rem 10rem 4rem;
}

.centerimg {
    display: flex;
    justify-content: center;
}