//MODIFICACION A BOOSTRAP

//CARDS
.conteinercard2 {
    margin: 5rem;
        img {
            margin: 10%;
    }
}

.conteinercard {
    margin-top: 10rem;
}

.card img {
    max-width: 30vw;
}

.textmod {
    text-align: center;
    margin-bottom: 3rem;
}

//MEDIA Q

// size L
@media screen and (min-width: 992px) {
    .letraclara {
        font-size: 1.5rem;
    }
}

// size XL
@media screen and (min-width: 1200px) {
    .letraclara {
        font-size: 1.9rem;
    }
}
