//MODIFICACION A BOOSTRAP

//CARDS
.conteinercard2 {
    margin: 5rem;
        img {
            margin: 10%;
    }
}

.conteinercard {
    margin-top: 10rem;
}

.card img {
    max-width: 30vw;
}

.textmod {
    text-align: center;
    margin-bottom: 3rem;
}
