//COLORES 
$fondo-body: #ffffff;
$color-detalles: #825F41;
$color-oscuro: #3D322C;
$color-intermedio: #654534;
$color-claro: #D9B26E;
$letras-colorclaro: #ffffff;

//FONT-SIZE
$letras-fuentechica: 3rem;
$letras-fuentemediana: 5rem;

//MIXIN
@mixin flex-row-centrado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}